<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 🔒 Permissões gerais -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 🔵 Permissões Bluetooth (compatíveis com Android 12+) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- ✅ Android 12+ (API 31+) - usePermissionFlags evita alertas de localização -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Câmera obrigatória -->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:name=".WalletApp"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="DataExtractionRules">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!-- 🧾 Lista de Activities -->
        <activity
            android:name=".CredentialListActivity"
            android:label="@string/title_credential_list"
            android:parentActivityName=".WalletMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WalletMainActivity" />
        </activity>

        <activity
            android:name=".ProofListActivity"
            android:label="Proofs"
            android:parentActivityName=".WalletMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WalletMainActivity" />
        </activity>

        <activity
            android:name=".CredentialDetailActivity"
            android:label="@string/title_credential_detail"
            android:parentActivityName=".CredentialListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ProofDetailActivity"
            android:label="Proof detail"
            android:parentActivityName=".ProofListActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".CredentialW3cDetailActivity"
            android:label="@string/title_credential_detail"
            android:parentActivityName=".CredentialListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".HistoricalListActivity"
            android:label="@string/title_historical_list"
            android:parentActivityName=".WalletMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".HistoricalDetailActivity"
            android:label="@string/title_historical_detail"
            android:parentActivityName=".HistoricalListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".WalletMainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BarcodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />

        <activity android:name=".SendMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />

        <activity android:name=".InvitationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />

        <activity android:name=".RequestProofActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />

        <activity android:name=".VerifierProofActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".CustomCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />

        <activity android:name=".ReceivingPresentationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PresentationListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity android:name=".PresentationDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ProofRequestDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="true"
            android:label="Notificações"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>